body {
  
}
.center {
    margin: 0 auto 0 auto;
}

.navbar navbar-inverse navbar-fixed-top{
   color: #f00; 
}

.zumbatron{
    background-color: transparent !important; 
    margin: 5% auto 0 auto;  
}
#centerPhoto {
    margin: 0 auto 0 auto;
}

.panel-footer {
    position: absolute;
   bottom: 0; 
   margin: 0 auto !important;
   text-align: center !important;
    width: 70% !important;
 background-color: transparent !important; 
}
@media only screen and (max-width: 480px) {

.panel-footer {
      position: absolute;
   bottom: 0; 
   margin: 0 auto !important;
   text-align: center !important;
    width: 70% !important;
 background-color: transparent !important; 
}
}