body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 0 auto;
}

.center {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-heading {
}

#Rowrash {
    border-color: lightgray;
    border-radius: 2px;
    border-width: 0.5px;
    border-style: solid;
    margin: 5px;
    height: 40px;
    color: black;
}

    #Rowrash:hover {
        background-color: lightblue;
    }

.col-sm-4 {
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
    margin-top: 8px;
}
.col-sm-1 {
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
    margin-top: 8px;
     width: auto;
        height: auto;
    float: right;
}

.col-sm-2 {
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
    margin-top: 8px;
     width: auto;
        height: auto;
   
}

.col-sm-3 {
    margin-top: 8px;
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
}
.btn-danger {
    margin: auto;
    margin-top: -5px;
    float: right;
}
.btn-success {
    margin: auto;
    margin-top: -5px;
    float: right;
}



@media only screen and (min-width: 320px) and (max-width: 680px) {
    #Rowrash {
        width: auto;
        height: auto;
    }

    /*#Rowrash:hover {
            
            width: auto;
             height: auto;
        }*/

    .col-sm-3 {
        width: auto;
        height: auto;
        visibility: hidden;
    }

    .col-sm-1 {
        width: auto;
        height: auto;
        visibility: visible;
    }

    .col-sm-4 {
        width: auto;
        height: auto;
        visibility: visible;
    }
    .col-sm-2 {
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
    margin-top: 8px;
     width: auto;
        height: auto;
   
}
    .panel-footer {
        position: absolute;
        bottom: 0;
        margin: 0 auto !important;
        text-align: center !important;
        width: auto;
        height: auto;
        background-color: transparent !important;
    }
    .btn-danger {
    margin: auto;
    margin-top: -5px;
        margin-left: 2px;
}
.btn-success {
    margin: auto;
    margin-top: -5px;
}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        #Rowrash {
        width: auto;
        height: auto;
    }

    /*#Rowrash:hover {
            
            width: auto;
             height: auto;
        }*/

    .col-sm-3 {
        width: auto;
        height: auto;
        visibility: hidden;
    }

    .col-sm-1 {
        width: auto;
        height: auto;
        visibility: visible;
    }

    .col-sm-4 {
        width: auto;
        height: auto;
        visibility: visible;
    }
    .col-sm-2 {
    border-color: lightgray;
    border-right-style: solid;
    border-width: 0.5px;
    margin-top: 8px;
     width: auto;
        height: auto;
   
}
    /*.panel-footer {
        position: absolute;
        bottom: 0;
        margin: 0 auto !important;
        text-align: center !important;
        width: auto;
        height: auto;
        background-color: transparent !important;
    }*/
    .btn-danger {
    margin: auto;
    margin-top: -5px;
        margin-left: 2px;
}
.btn-success {
    margin: auto;
    margin-top: -5px;
}

}
@media only screen and (min-device-width: 720px) and (max-device-width: 1024px) {

    /*#Rowrash:hover {
            background-color: lightblue;
            width: 100%;
        }*/

    .col-sm-3 {
        visibility: visible;
       
    }

    .col-sm-1 {
        visibility: visible;
         width: auto;
        height: auto;
       
    }

    .col-sm-4 {
        visibility: visible;
        
    }
    .col-sm-2 {
    
     width: auto;
        height: auto;
   
}

    /*.panel-footer {
        position: absolute;
        bottom: 0;
        margin: 0 auto !important;
        text-align: center !important;
        width: auto;
        height: auto;
        background-color: transparent !important;
    }*/
    .btn-danger {
    width: auto;
        height: auto;
    margin-top: -5px;
}

}
