<link href="~/Content/AboutStyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-6">
        <img id="imgutbildning" class="img-responsive" src="~/Images/utb.jpg" />
    </div>
    <div class="col-md-6">
        <p><strong>Bacon ipsum dolor amet sirloin t-bone beef short ribs flank filet mignon.<br>
         Capicola pastrami leberkas ribeye, shoulder chuck kevin sausage porchetta <br>
        swine short loin tongue beef ribs. Pig tenderloin venison ground round,<br> 
        alcatra drumstick shankle tail chicken t-bone. Tongue pancetta prosciutto,<br> 
        alcatra drumstick beef ribs meatloaf pig ball tip leberkas turkey rump brisket pork.<br><br>
        Shoulder ground round sausage, beef ribs filet mignon ball tip burgdoggen leberkas<br>
         flank pork sirloin doner. Capicola shoulder ball tip andouille corned beef<br> 
        sausage biltong pancetta landjaeger swine jowl salami short loin chuck. <br>
        Salami pork chop cow, tri-tip sirloin shank pig. Biltong short ribs meatball<br> 
        filet mignon porchetta shankle, frankfurter turkey. Shank leberkas kevin venison <br>
        ground round pancetta. Ham hock ribeye chuck ground round shank turducken pork chop landjaeger.<br>
</strong></p>
    </div>
</div>
