@model List<Web_Forum.data.Models.Thread>


<div class="container">
    @*<h1 class="text-center">@ViewBag.Title</h1>*@

    <div class="jumbotron">


        <h3 class="text-center">Join the EC Utbilding Community</h3>
        <div class="text-center">
            Join and share your knowledge through your school portal.
            Make your connections and share your ideas.
            Be welcome by once joined.<br />
            <br />
            <button class="btn btn-primary">Join In</button>
        </div>

    </div>
    <!---->

    <div>
        <h3>Sub-Forums</h3>
        <div>
            @{
                //To discuss with the boss if a PartialView is a better and cleaner solution/ We could call for each Partial with
                foreach (var thread in Model)
                {
                    @*<h3>@subforum.Title</h3>*@
                    @Html.ActionLink(thread.Title, "Index", "Thread", new { id = thread.Id }, null);
                }



            }
        </div>
    </div>
    <!---->
    


    <div></div>
</div>


