@model List<Web_Forum.Models.IndexThreadViewModel>
@{
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "createThread"
    };
}

<div class="container" id="threadList">
    @*<h1 class="text-center">@ViewBag.Title</h1>*@

   

    </div>
    <!---->

    <div>
       @Ajax.ActionLink("New Thread", "AddThread", new { id = "ide" }, options)
        <!--<button id="newTopic" type="button" class="btn-primary">New Topic</button>-->
        <h3>Topics</h3>
        <div id="createThread"></div>
        <div>
            
                @{
                    //To discuss with the boss if a PartialView is a better and cleaner solution/ We could call for each Partial with
                    foreach (var thread in Model.OrderByDescending(x => x.LastPosted))
                    {
                        @*<h3>@subforum.Title</h3>*@
                        
                            @Html.ActionLink(
                           thread.Title + $" Posts {@thread.NumberOfPosts} Created  {@thread.DateCreated} Last Posted {@thread.LastPosted}",
                           "Index",
                           "Thread",
                            new { id = thread.Id,
                                title = thread.Title },
                            new { @class="list-group-item"})
                       
                    }
                }
            
        </div>
    </div>
</div>


