<link href="~/Content/HomeStyle.css" rel="stylesheet" />
@model List<Web_Forum.Models.IndexThreadViewModel>
@{
    var options = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "createThread"
    };
}

<div class="container center" id="threadList">
    @*<h1 class="text-center">@ViewBag.Title</h1>*@


    <!---->
    <div id="threadsInIndex">

        <div class="zumbatron">
            <img id="centerPhoto" class="img-responsive" src="~/Images/ec.png" />
        </div>

        <div>
            @*<button Class="btn btn-default" }>*@
                @Ajax.ActionLink("New Thread", "_AddThread",null ,options, new { @class= "btn btn-default" })
            @*</button>*@
            <!--<button id="newTopic" type="button" class="btn-primary">New Topic</button>-->
            <h3>Topics</h3>
            <div id="createThread"></div>
            @Html.Partial("_Threads", Model)
        </div>
    </div>
</div>


