@model List<Web_Forum.Models.PostViewModel>

<div>
    @foreach (var post in Model.OrderBy(x => x.Posted))
    {
        <div id="postThreads">
            <h4>@post.Name - @post.Posted</h4>
            <p>@post.Text</p>
            
        </div>
    }
</div>